﻿@model IEnumerable<int>

@{
    ViewData["Title"] = "ContainProductAsync";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>Вывести номера заказов, содержащих заданный товар.</h1>



<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(item)
                </td>
            </tr>
        }
    </tbody>
</table>
