﻿@model Lab._4course.ViewModels.CreateOrderViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReceiptDate" class="control-label"></label>
                <input asp-for="ReceiptDate" class="form-control" value="13.03.2020 04:04" />
                <span asp-validation-for="ReceiptDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

            <div class="form-group">
                <h4>Products</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th> Selected </th>
                            <th> Name </th>
                            <th> Description </th>
                            <th> Cost </th>
                            <th> Count </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int productIndex = 0;
                        }
                        @foreach (Lab._4course.Models.Product item in ViewBag.Products)
                        {
                            <tr>
                                <td>
                                    <input asp-for="Products[productIndex].Id" type="hidden" value="@(item.Id)" />
                                    <input asp-for="Products[productIndex].IsSelected" type="checkbox" />
                                </td>
                                <td>
                                    <input asp-for="Products[productIndex].Name" value="@(item.Name)" />
                                </td>
                                <td>
                                    <input asp-for="Products[productIndex].Description" type="text" value="@(item.Description)"/>
                                </td>
                                <td>
                                    <input asp-for="Products[productIndex].Cost" type="text" value="@(item.Cost)"/>
                                </td>
                                <td>
                                    <input asp-for="Products[productIndex].Count" type="text" value="1" />
                                </td>
                            </tr>
                            productIndex++;
                        }
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
