﻿@model Lab._4course.ViewModels.CreateOrderViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiptDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReceiptDate)
        </dd>
    </dl>

    <div class="form-group">
        <h4>Products</h4>
        <table class="table">
            <thead>
                <tr>
                    <th> Name </th>
                    <th> Description </th>
                    <th> Cost </th>
                    <th> Count </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Products != null && Model.Products.Count > 0)
                {
                    foreach (Lab._4course.ViewModels.ProductViewModel item in Model.Products)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cost)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Count)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
