﻿@model IEnumerable<Lab._4course.Models.Order>

@{
    ViewData["Title"] = "FilteredOrdersAsync";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>Вывести номера заказов, сумма которых не превосходит заданную, и количество различных товаров равно заданному.</h1>
<h1>MaxSum = 100, Count = 2</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiptDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceiptDate)
                </td>
            </tr>
        }
    </tbody>
</table>
