﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table width="100%">
    <tr>
        <td width="50%" align="center">
            <h2>
                <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index" asp">Products</a>
            </h2>
        </td>
        <td width="50%" align="center">
            <h2>
                <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">Orders</a>
            </h2>
        </td>
    </tr>
    <tr>
        <td width="33%" align="center">
            <h3>
                <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="FilteredOrdersAsync">FilteredOrdersAsync</a>
            </h3>
        </td>
        <td width="33%" align="center">
            <h3>
                <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="ContainProductAsync">ContainProductAsync</a>
            </h3>
        </td>
        <td width="33%" align="center">
            <h3>
                <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="NotContaintProductsNotTodayAsync">NotContaintProductsNotTodayAsync</a>
            </h3>
        </td>
    </tr>
</table>

<div style="border-color:red; border-width: 1px; border-style:solid; padding: 5px;">
    <a class="nav-link text-red" asp-area="" asp-controller="Orders" asp-action="RemoveAsync">RemoveAsync</a>
</div>